a {
  text-decoration: none;
  color: #000;
}
body {
  margin: 0;
  padding: 0;
}

.color-mix {
  background: linear-gradient(135deg, #74c2f9 0%, #63ce8f 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}
